@inject IStringLocalizer<Experience> L
@inject IJSRuntime JsRuntime

<div class="section px-3 px-lg-4 pt-5" id="experience">
    <div class="container-narrow">
        <div class="text-center mb-5">
            <h2 class="marker marker-center" style="cursor: pointer" @onclick="ToggleDiv">@L["Experience"]</h2>
        </div>
        <div class="row @_toggleClass experience-section">
            <!-- Frontend Development -->
            <div class="col-md-6">
                <div class="card mb-3 experience-card" data-aos="fade-up" data-aos-delay="100">
                    <div class="card-header px-3 py-2">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="h5 mb-1">@L["FrontendDevelopment"]</h3>
                            </div>
                            <img src="images/services/html.svg" width="48" height="48"
                                 alt="Frontend Development"/>
                        </div>
                    </div>
                    <div class="card-body px-3 py-2">
                        <p>@L["FrontendDevelopmentText1"]</p>
                        <p>@L["FrontendDevelopmentText2"]</p>
                    </div>
                </div>
            </div>

            <!-- Backend Development -->
            <div class="col-md-6">
                <div class="card mb-3 experience-card" data-aos="fade-up" data-aos-delay="200">
                    <div class="card-header px-3 py-2">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="h5 mb-1">@L["BackendDevelopment"]</h3>
                            </div>
                            <img src="images/services/dotnet.svg" width="48" height="48"
                                 alt="Backend Development"/>
                        </div>
                    </div>
                    <div class="card-body px-3 py-2">
                        <p>@L["BackendDevelopmentText1"]</p>
                        <p>@L["BackendDevelopmentText2"]</p>
                        <p>@L["BackendDevelopmentText3"]</p>
                    </div>
                </div>
            </div>

            <!-- Database Management -->
            <div class="col-md-6">
                <div class="card mb-3 experience-card" data-aos="fade-left" data-aos-delay="300">
                    <div class="card-header px-3 py-2">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="h5 mb-1">@L["DatabaseManagement"]</h3>
                            </div>
                            <img src="images/services/database.svg" width="48" height="48"
                                 alt="Database Management"/>
                        </div>
                    </div>
                    <div class="card-body px-3 py-2">
                        <p>@L["DatabaseManagementText1"]</p>
                        <p>@L["DatabaseManagementText2"]</p>
                    </div>
                </div>
            </div>

            <!-- Security & Authentication -->
            <div class="col-md-6">
                <div class="card mb-3 experience-card" data-aos="fade-right" data-aos-delay="400">
                    <div class="card-header px-3 py-2">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="h5 mb-1">@L["SecurityAuthentication"]</h3>
                            </div>
                            <img src="images/services/security.svg" width="48" height="48"
                                 alt="Security & Authentication"/>
                        </div>
                    </div>
                    <div class="card-body px-3 py-2">
                        <p>@L["SecurityAuthenticationText1"]</p>
                        <p>@L["SecurityAuthenticationText2"]</p>
                    </div>
                </div>
            </div>

            <!-- Cloud & DevOps -->
            <div class="col-md-6">
                <div class="card mb-3 experience-card" data-aos="zoom-in" data-aos-delay="500">
                    <div class="card-header px-3 py-2">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="h5 mb-1">@L["CloudDevOps"]</h3>
                            </div>
                            <img src="images/services/azure.svg" width="48" height="48" alt="Cloud & DevOps"/>
                        </div>
                    </div>
                    <div class="card-body px-3 py-2">
                        <p>@L["CloudDevOpsText1"]</p>
                        <p>@L["CloudDevOpsText2"]</p>
                        <p>@L["CloudDevOpsText3"]</p>
                    </div>
                </div>
            </div>

            <!-- Microservices & Messaging -->
            <div class="col-md-6">
                <div class="card mb-3 experience-card" data-aos="fade-up" data-aos-delay="600">
                    <div class="card-header px-3 py-2">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="h5 mb-1">@L["MicroservicesMessaging"]</h3>
                            </div>
                            <img src="images/services/microservies.svg" width="48" height="48"
                                 alt="Microservices & Messaging"/>
                        </div>
                    </div>
                    <div class="card-body px-3 py-2">
                        <p>@L["MicroservicesMessagingText1"]</p>
                        <p>@L["MicroservicesMessagingText2"]</p>
                    </div>
                </div>
            </div>

            <!-- Software Architecture & Best Practices -->
            <div class="col-md-6">
                <div class="card mb-3 experience-card" data-aos="fade-left" data-aos-delay="700">
                    <div class="card-header px-3 py-2">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="h5 mb-1">@L["SoftwareArchitectureBestPractices"]</h3>
                            </div>
                            <img src="images/services/architecture.svg" width="48" height="48"
                                 alt="Software Architecture & Best Practices"/>
                        </div>
                    </div>
                    <div class="card-body px-3 py-2">
                        <p>@L["SoftwareArchitectureBestPracticesText1"]</p>
                        <p>@L["SoftwareArchitectureBestPracticesText2"]</p>
                    </div>
                </div>
            </div>

            <!-- Testing & Quality Assurance -->
            <div class="col-md-6">
                <div class="card mb-3 experience-card" data-aos="fade-right" data-aos-delay="800">
                    <div class="card-header px-3 py-2">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="h5 mb-1">@L["TestingQualityAssurance"]</h3>
                            </div>
                            <img src="images/services/testing.svg" width="48" height="48"
                                 alt="Testing & Quality Assurance"/>
                        </div>
                    </div>
                    <div class="card-body px-3 py-2">
                        <p>@L["TestingQualityAssuranceText1"]</p>
                        <p>@L["TestingQualityAssuranceText2"]</p>
                    </div>
                </div>
            </div>

            <!-- Agile & Team Collaboration -->
            <div class="col-md-6">
                <div class="card mb-3 experience-card" data-aos="zoom-in" data-aos-delay="900">
                    <div class="card-header px-3 py-2">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="h5 mb-1">@L["AgileTeamCollaboration"]</h3>
                            </div>
                            <img src="images/services/teamwork.svg" width="48" height="48"
                                 alt="Agile & Team Collaboration"/>
                        </div>
                    </div>
                    <div class="card-body px-3 py-2">
                        <p>@L["AgileTeamCollaborationText1"]</p>
                        <p>@L["AgileTeamCollaborationText2"]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private bool _isVisible = true;
    private string _toggleClass = "expanded";

    private void ToggleDiv()
    {
        _isVisible = !_isVisible;
        _toggleClass = _isVisible ? "expanded" : "collapsed";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Let the JavaScript file handle the animation
            await Task.Delay(500);
            await JsRuntime.InvokeVoidAsync("initializeExperienceAnimation");
        }
    }
}
