@inject IStringLocalizer<Header> L

<header data-testid="site-header">
    <div class="cover">
        <div class="container px-3">
            <div class="row">
                <div class="col-lg-6 p-2"><img class="img-fluid" src="images/illustrations/hello3.svg" alt="@L["AltHelloIllustration"]"/>
                </div>
                <div class="col-lg-6">
                    <div class="mt-5">
                        <p class="lead text-uppercase mb-1" data-testid="hello_text">@L["Hello"]</p>
                        <h1 class="intro-title marker" data-aos="fade-left" data-aos-delay="50" data-testid="intro-title">@L["AuthorName"]</h1>
                        <p class="lead fw-normal mt-3" data-aos="fade-up" data-aos-delay="100">@L["HeaderDescription"]</p>
                        <SocialNav></SocialNav>
                        <div class="mt-3" data-aos="fade-up" data-aos-delay="200">
                            <a class="btn btn-primary shadow-sm mt-1 hover-effect" href="#contact" data-testid="get-in-touch-button">
                                @L["GetInTouch"]
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* <div class="wave-bg"></div> *@
</header>

@code {

}
