@using PersianCat.Resume.Services
@inject IGoogleAnalyticsService GoogleAnalyticsService

<header class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header-nav" role="navigation">
        <div class="container">
            <a class="link-dark navbar-brand site-title mb-0" href="/">Persian Cat</a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse @NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
                <ul class="navbar-nav ms-auto me-2">
                    <li class="nav-item"><a class="nav-link"
                                            @onclick="() => EventAction(About)"
                                            href="@About">About</a>
                    </li>
                    <li class="nav-item"><a class="nav-link"
                                            @onclick="() => EventAction(Specializations)"
                                            href="@Specializations">Specializations</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            @onclick="() => EventAction(Skills)"
                                            href="@Skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            @onclick="() => EventAction(Experience)"
                                            href="@Experience">Experience</a>
                    </li>
                    <li class="nav-item"><a class="nav-link"
                                            @onclick="() => EventAction(Roadmap)"
                                            href="@Roadmap">Roadmap</a></li>
                    <li class="nav-item"><a class="nav-link" @onclick="() => EventAction(Contact)"
                                            href="@Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

@code {
    private const string About = "#about";
    private const string Specializations = "#specializations";
    private const string Skills = "#skills";
    private const string Experience = "#experience";
    private const string Roadmap = "#roadmap";
    private const string Contact = "#contact";

    private bool collapseNavMenu = true;
    
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    
    private void EventAction(string name)
    {
        Task.Run(async () => await GoogleAnalyticsService.TrackEvent("navigation", "click", name).ConfigureAwait(false)).ConfigureAwait(false);
    }

}